* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #262a33;
}

/* Font Styles */
h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

hr {
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}
p {
  color: #fff;
}

.font-24 {
  font-size: 24px;
}

.text-green {
  color: #66e348;
}

a:hover,
a:active,
a:focus {
  color: #66e348;
  text-decoration: underline;
}

/* Button Styles */
.btn-green {
  font-weight: 600;
  background: #66e348;
  border: 2px solid #555961;
  border-radius: 5px;
}

.btn-green-border {
  font-weight: 600;
  border: 2px solid #66e348;
  border-radius: 5px;
  color: #66e348;
}

/* Header Styles */

.nav-link {
  font-size: 16px;
}

.description {
  font-size: 29px;
  text-align: left;
  margin-top: 5%;
  color: #fffbfb;
}
.description-child {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2%;
  text-align: center;
  color: #555961;
  margin-right: 6%;
}
div.description .ofleaders {
  margin-right: 6%;
}
.location {
  color: #66e348;
  font-size: 30px;
}
.date {
  color: white;
  font-size: 30px;
}
.venue {
  color: white;
  font-size: 30px;
}
.reg-btn {
  margin: auto;
}
.team-section {
  margin: auto;
  background-color: #262a33;
}
.team-section h1 {
  color: #66e348;
  text-align: center;
  padding-top: 2%;
}
.team-section h2 {
  color: #66e348;
  text-align: center;
  padding-bottom: 2%;
}

.footer {
  width: 100%;
  height: 5vh;
  background-color: #fff;
}
.footer-align {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.footer-content {
  padding: 0 0.7%;
  color: rgb(26, 29, 37);
}
.description {
  font-size: 29px;
  text-align: left;
  margin-top: 5%;
  color: #fffbfb;
}
.description-child {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2%;
  text-align: center;
  color: #555961;
  margin-right: 6%;
}
div.description .ofleaders {
  margin-right: 6%;
}
.location {
  color: #66e348;
  font-size: 30px;
}
.date {
  color: white;
  font-size: 30px;
}
.venue {
  color: white;
  font-size: 30px;
}
.reg-btn {
  margin: auto;
}
.team-section {
  margin: auto;
  background-color: #262a33;
}
.team-section h1 {
  color: #66e348;
  text-align: center;
  padding-top: 2%;
}
.team-section h2 {
  color: #66e348;
  text-align: center;
  padding-bottom: 2%;
}
.team-section h3,
h5,
p {
  text-align: center;
  color: white;
}
#partners {
  margin-top: 5%;
  background-color: #262a33;
}
.partner-h1 {
  color: #66e348;
}
#challenge {
  margin-top: 5%;
}
#challenge h5 {
  color: #c4c4c4;
}
.our-challenge {
  color: #66e348;
}
.challenge-pic {
  margin-top: 2%;
}
.challenge-pic h4 {
  color: #c4c4c4;
}
#hackathon {
  margin-top: 6%;
}
#hackathon p {
  color: #7f8693;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.08em;
}
.num-hack {
  color: #323844;
  font-size: 81px;
}
.hackply {
  font-family: Montserrat;
  font-style: normal;
  color: white;
  font-size: 26px;
  margin-left: -5%;
}
.hack-date {
  color: #66e348 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
#prizes {
  margin-top: 5%;
}
.pri {
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .description {
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .description-child {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .description-child {
    font-size: 15px;
    margin-bottom: 5%;
  }
}
